.advantages {
  padding: 50px 0;
  background-color: #f6f6f6;

  &__flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  &__box {
    width: 250px;
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $text-color;

    span {
      text-decoration: underline;
      color: $red;
    }
  }

  &__img {
    margin: 0 0 35px 0;
    &--animated {
      animation: hartbeat 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
  }
}